{% extends "base.html" %}

{% block content %}
<div>
    <form method="POST" action="/adding_block">
      <!-- Patient Name -->
      <div class="form-outline mb-5">
        <div class="control">
            <label class="form-label" for="user">Name</label>
            <input class="form-control" type="name" name="Name" placeholder="Patient Name" autofocus="">
        </div>
      </div>
      <!-- Patient age -->
      <div class="form-outline mb-5">
        <div class="control">
            <label class="form-label" for="user">Age</label>
            <input class="form-control" type="age" name="age" placeholder="Patient Age" autofocus="">
        </div>
      </div>
      <!-- Patient diagnosis -->
      <div class="form-outline mb-5">
        <div class="control">
            <label class="form-label" for="user">Diagnosis</label>
            <input class="form-control" type="diagnosis" name="diagnosis" placeholder="Diagnosis" autofocus="">
        </div>
      </div>
      <!--Doctor information-->
      <div class="form-outline mb-5">
        <div class="control">
            <label class="form-label" for="user">Doctor's name</label>
            <input class="form-control" type="doctor" name="doctor" placeholder="Doctor Name" autofocus="">
        </div>
      </div>
      <button class="button is-block is-info is-large is-fullwidth">Add block</button>
    </form>
</div>
{% endblock %}
