{% extends "doctor.html" %}
{% block content %}

<style>

    .nav-pills .nav-link:hover {
        background-color: #0eb6ee;
        color: rgb(58, 57, 57);
    }
    .sidebar {
        width: 250px;
        height: 100%;
        position: fixed;
        top:0;
        left: 0;
        background-color: #1a1b1b;
        padding: 20px;
        transition: all 0.3s ease;
        opacity: 0.9;
    }   

    .content {
        margin-left: 30px;
        padding: 20px;
    }
    .sidebar.hidden {
        display: none;
    }
    .button{
        left: 50%;
    }
</style>


<button id="sidebar-toggle" class="button is-info" >Toggle Sidebar</button>
<div class="sidebar">
    
    <ul class="nav nav-pills">
        <li style="text-align: left;"><a href="#Genkey" class="nav-link px-2 text-white">Generate a key pair</a></li>
        <li style="text-align: left;"><a href="#add" class="nav-link px-2 text-white">Create a new record</a></li>
    </ul>

</div>

<script>
    const sidebarToggle = document.getElementById('sidebar-toggle');
    const sidebar = document.querySelector('.sidebar');
  
    sidebarToggle.addEventListener('click', () => {
      sidebar.classList.toggle('hidden');
      sidebarToggle.classList.toggle('button-clicked');
    });
</script>

<div class="content">
    <h1  class="title" style= "text-align: left;" >
        Help Page
    </h1>
    <p style="text-align: left; font-size: 18px;">
        Welcome to our wiki. Please use the navigation bar on the left side of your screen to quickly navigate to any section.
    </p>

    <hr>
       
    <h1 id="Genkey" class="title"  style= "text-align: left;" >
       How to generate a key pair
    </h1>
    <p style= "text-align: left;">1.    In order to generate your keys, select the "Generate Keys" option from the navigation bar.</p>
    <img class="no-margin" src="{{ url_for('static', filename='images/wiki/wiki_generate_key_01.png') }}" style="max-width: 100% !important;" alt="Your Image" width="2000" height="400">
    
    <br><br><br>
    <p style= "text-align: left;">2.    Once you are on that page, click on the "Generate Keys" button.</p>
    <img class="no-margin" src="{{ url_for('static', filename='images/wiki/wiki_generate_key_02.png') }}" style="max-width: 100% !important;" alt="Your Image" width="2000" height="400">
    
    <br><br>
    <p style= "text-align: left;">3.    Your browser will prompt you to save the file somewhere. Navigate to the folder you would like to save the key to, and then save it.</p>
    <img class="no-margin" src="{{ url_for('static', filename='images/wiki/wiki_generate_key_03.png') }}" style="max-width: 100% !important;" alt="Your Image" width="2000" height="400">
    
    <br><br>
    <p style= "text-align: left;">4.    Extract the "keys.zip" file that you just downloaded.</p>
    <img class="no-margin" src="{{ url_for('static', filename='images/wiki/wiki_generate_key_04.png') }}" style="max-width: 100% !important;" alt="Your Image" width="2000" height="400">
    
    <br><br>
    <p style= "text-align: left;">5.    Your "public_key.pem" file and your "private_key.pem" files should now be available to you. <b>NEVER</b> share your private key with anyone, under any circumstances. If someone gains access to your private key they will permanently be able to decrypt and view all of your records.</p>
    
    <h1  id="add" class="title" style= "text-align: left;" >
        Creating a new record (adding patient data to the blockchain)
    </h1>
    <p style= "text-align: left;">1.    Click on the "Add Record" button in the navigation bar.</p>
    <img class="no-margin" src="{{ url_for('static', filename='images/wiki/wiki_add_block_01.png') }}" style="max-width: 100% !important;" alt="Your Image" width="2000" height="400">
    <br><br>
    <p style= "text-align: left;">2.    Click the "Browse..." button.</p>
    <p style= "text-align: left;">3.    Navigate to the patient's "public_key.pem" file and select it.</p>
    <p style= "text-align: left;">4.    Click the "Upload" button.</p>
    <p style= "text-align: left;">      You should now see the "Key" form be filled out, similar to the image below.</p>
    <img class="no-margin" src="{{ url_for('static', filename='images/wiki/wiki_add_block_02.png') }}" style="max-width: 100% !important;" alt="Your Image" width="2000" height="400">
    <br>
    <p style= "text-align: left;">5.    Fill out each of the remaining fields.</p>
    <img class="no-margin" src="{{ url_for('static', filename='images/wiki/wiki_add_block_03.png') }}" style="max-width: 100% !important;" alt="Your Image" width="2000" height="400">
    <p style= "text-align: left;">6.    Click the "Add block" button.</p>
    <p style= "text-align: left;">7.    You should now see a page similar to this.</p>
    <img class="no-margin" src="{{ url_for('static', filename='images/wiki/wiki_add_block_04.png') }}" style="max-width: 100% !important;" alt="Your Image" width="2000" height="400">
    <p style= "text-align: left;">8.    Click "Download updated key" to overwrite the updated "public_key.pem" file on your system with the new transaction number.</p>
    <p style= "text-align: left;">9.    Alternatively, you can only decide to manually note down the transaction ID. It will be available to you at the bottom of the Key form, similar to the image provided.</p>

</div>

{% endblock %}
