{% extends "base.html" %}
{% block content %}
<body>
    <div class="container">
        <h1 class="title">
            What kind of a user are you?
        </h1>
        
        <div class="form-outline mb-4">
            <div class="control">
                <button class="button is-block is-info is-large is-fullwidth" onclick="location.href='/doctor'">Health Care Provider</button>
            </div>
        </div>
        
        <div class="form-outline mb-4">
            <div class="control">
                <button class="button is-block is-info is-large is-fullwidth" onclick="location.href='/patient'">Patient</button>
            </div>
        </div>
    </div>
</body>

{% endblock %}
