{% extends "base.html" %}

{% block content %}
<div>
    <h1 class="title">
        Welcome to our Website
    </h1>
    <h1 class="title">The goal of this website is to showcase our personal health record (PHR) system. 
        This PHR system uses a blockchain to store the patients data.
    </h1>
    <h2  style= "text-align: left; font-size: 20px;" >
        Here is a quick rundown of our websites features: 
        <li>
            The 'Info' button allows you to view all the blocks in the blockchain.
        </li>
        <li>
            The 'Generate key' button generates a public key and private key and downloads it to clients machine.
        </li>
        <li>
            The 'Add block' button gives the client a form to enter the patients data. Once the data it is used to create a block that will be added to the chain.
        </li>
    </h2>
</div>
{% endblock %}