{% extends "patient.html" %}
{% block content %}

<style>

    .nav-pills .nav-link:hover {
        background-color: #0eb6ee;
        color: rgb(58, 57, 57);
    }
    .sidebar {
        width: 250px;
        height: 100%;
        position: fixed;
        top:0;
        left: 0;
        background-color: #1a1b1b;
        padding: 20px;
        transition: all 0.3s ease;
        opacity: 0.9;
    }   

    .content {
        margin-left: 30px;
        padding: 20px;
    }
    .sidebar.hidden {
        display: none;
    }
    .button{
        left: 50%;
    }
</style>


<button id="sidebar-toggle" class="button is-info" >Toggle Sidebar</button>
<div class="sidebar">
    
    <ul class="nav nav-pills">
        <li style="text-align: left;"><a href="#Genkey" class="nav-link px-2 text-white">How to Generate your keys</a></li>
        <li style="text-align: left;"><a href="#view" class="nav-link px-2 text-white">Viewing your data</a></li>
        <li style="text-align: left;"><a href="#add" class="nav-link px-2 text-white">Adding a block</a></li>
        <li style="text-align: left;"><a href="#upload" class="nav-link px-2 text-white">Upload your keys to view data</a></li>
    </ul>

</div>

<script>
    const sidebarToggle = document.getElementById('sidebar-toggle');
    const sidebar = document.querySelector('.sidebar');
  
    sidebarToggle.addEventListener('click', () => {
      sidebar.classList.toggle('hidden');
      sidebarToggle.classList.toggle('button-clicked');
    });
</script>

<div class="content">
    <h1  class="title" style= "text-align: left;" >
        How to use our website (patient)
    </h1>
    <p style="text-align: left; font-size: 18px;">
        This website will be a wiki on all the features of this website, how
        to use these features and future goals we may have to imporve our site.
        This is a PHR (personal health record) system that uses a blockchain to
        store patients data. We have multiple navigation bar that send you to
        each feature page. We will go into detail on how to use each
        feature.
    </p>

    <hr>
       
    <h1 id="Genkey" class="title"  style= "text-align: left;" >
       How to Generate your keys
    </h1>
    <p>placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
    </p>
   
    <hr>

    <h1 id="view"class="title"  style= "text-align: left; " >
        Viewing your data (view your blocks)
    </h1>
    <p>placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
    </p>
    
    <hr>
    
    <h1  id="add" class="title" style= "text-align: left;" >
        Adding a block (adding patient data to the blockchain)
    </h1>
    <p>placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
    </p>

    <hr>
    
    <h1  id="upload" class="title" style= "text-align: left;" >
        Uploading your keys to view data
    </h1>
    <p>placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
        placeholder text hereplaceholder text hereplaceholder text here
    </p>
    
    <hr>
</div>

{% endblock %}
