{% extends "base.html" %}

{% block content %}
<div>
    <form method="POST" action="/upload_private" enctype="multipart/form-data">    
        <div>
            <p> Upload Private key</p>
            <input type="file" name="private_file">  
            <input type = "submit" value="Upload">  
        </div>
        <div class="form-outline mb-5">
            <div class="control">
                <label class="form-label" for="user">Key</label>
                <textarea
                id="prikey"
                readonly
                rows="4" 
                cols="50"
                class="form-control"
                type="privatekey"
                name="privatekey"
                >{{ private_key }}</textarea>
            </div>
        </div>
    </form>

    <form method="POST" action="/upload_public" enctype="multipart/form-data">    
        <div>
            <p> Upload public key</p>
            <input type="file" name="public_file">  
            <input type = "submit" value="Upload">  
        </div>

        <div class="form-outline mb-5">
            <div class="control">
                <label class="form-label" for="user">Key</label>
                <textarea
                id="pubkey"
                readonly
                rows="4" 
                cols="50"
                class="form-control"
                type="publickey"
                name="publickey"
                >{{ public_key }}</textarea>
            </div>
        </div>
    </form>
    <form method="POST" action="/view_history" enctype="multipart/form-data">
        <div class="form-outline mb-4">
            <div class="control">
                <button id=submit_button class="button is-block is-info is-large is-fullwidth">View History</button>
            </div>
        </div>
        <div>
            <textarea
                id="pubkeyid"
                readonly
                hidden
                rows="4" 
                cols="50"
                class="form-control"
                type="publickey"
                name="publickey"
                >{{ public_key }}</textarea>
        </div>
        <div>
            <textarea
                id="prikeyid"
                readonly
                hidden
                rows="4" 
                cols="50"
                class="form-control"
                type="privatekey"
                name="privatekey"
            >{{ private_key }}</textarea>
        </div>
    </form>
</div>

<script>
   
    var private_key = localStorage.getItem('private_key');

    if(!private_key) {
        private_key  = `{{ private_key }}`;
        localStorage.setItem('private_key', private_key);
    }

    var public_key = localStorage.getItem('public_key');

    
        public_key  = `{{ public_key }}`;
        localStorage.setItem('public_key', public_key);
    
   
    var private_key_element = document.getElementById("prikey");
    private_key_element.textContent = private_key;
   
    var public_key_element = document.getElementById("pubkey");
    public_key_element.textContent = public_key;

    
    var pubkey_element = document.getElementById("pubkeyid");
    pubkey_element.textContent = public_key;
    var prikey_element = document.getElementById("prikeyid");
    prikey_element.textContent = private_key;

</script>


{%endblock%}
